@model Matissa.Models.Citum

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/citas/create.css" />
<div class="container-fluid titulo-citas">
    <div class="row">
        <div class="col">
            <h1>Agendar nueva cita</h1>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <label class="text-center">Codigo de la Cita</label><br />
            <input class="rounded-pill text-center custom-input" />
        </div>
        <div class="col">
            <div class="d-flex flex-column align-items-center">
                <label class="text-center servicio">Servicio</label>
                <select class="form-select form-select-lg rounded-pill custom-input agregar mb-2"></select>
                <select class="form-select form-select-lg rounded-pill custom-input" id="servicios" name="servicios">
                    @foreach (var servicio in ViewBag.Servicios)
                    {
                        <option selected>Agregar Servicio</option>
                        <option value="@servicio.IdServicio">@servicio.NombreServicio</option>
                    }
                </select>
            </div>
        </div>

        <div class="col">
            <label class="text-center">Seleccione Fecha y Hora</label>
            <div class="row">
                <div class="col">
                    <select class="form-select form-select-lg rounded-pill custom-hora""></select>
                </div>
                <div class="col">
                    <input class="rounded-pill custom-hora" type="date" /> 
                </div>
            </div>
        </div>
    </div>
</div><br><br>


    <div class="row justify-content-center botones">
        <div class="col text-end">
            <input type="button" class="boton-cancelar rounded-pill" value="Cancelar">
        </div>
        <div class="col">
            <input type="submit" class="boton-aceptar rounded-pill" value="Aceptar" onclick="validacion()">
        </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

