@model Matissa.Models.Citum

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/citas/create.css" />
<div class="container-fluid titulo-citas">
    <div class="row">
        <div class="col">
            <h1>Agendar nueva cita</h1>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <label class="text-center">Codigo de la Cita</label><br />
            <input class="rounded-pill text-center custom-input" />
        </div>
        <div class="col">
            <label class="text-center">Costo Total</label><br />
            <input class="rounded-pill text-center custom-input" />
        </div>
        <div class="col">
            <label class="text-center">Seleccione Fecha y Hora</label><br />
            <input class="rounded-pill custom-input" type="date" />
        </div>
    </div>
    <div class="row align-itens-star">
        <div class="col-md-4">
            <label class="text-center">idCliente</label><br />
            <select asp-for="IdCliente" class="form-control rounded-pill custom-input text-center" asp-items="ViewBag.IdCliente"></select>
        </div>
        <div class="col-md-4">
            <label class="text-center">Nombre Cliente</label><br />
            <input class="rounded-pill text-center custom-input" />
        </div>
        
    </div>
</div>
<br>
<br>



    <div class="row justify-content-center botones">
        <div class="col text-end">
            <input type="button" class="boton-cancelar rounded-pill" value="Cancelar">
        </div>
        <div class="col">
            <input type="submit" class="boton-aceptar rounded-pill" value="Aceptar" onclick="validacion()">
        </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

